@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("softpinkbackground.png") fixed top repeat;
	
	
}
#container{
	width: 1000px;
	margin: 40px auto;
}


		
footer{
	background-color:rgba(176,112,162,0.73);
		clear:none;
}
header > h1{
		text-align: center;
		color: darkred; font-size: 45px
	}
.right a:link{color: honeydew;
	font-size: 30px;
	
		
}

.left a:link{color: honeydew;
font-size: 30px;
	
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: bold;
	
}




